# dependências
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# produção
/build

# ambiente
.env*.local
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sistema operacional
.DS_Store
*.pem
Thumbs.db

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel
